<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Yeezy v Breezy Art Verks</title>

<!-- https://coolors.co/454ade-29335c-605f5e-db162f-247ba0

    454ade Iris - purple bluish
    29335c Space Cadet - dark blue
    605f5e Granite Grey - grey
    db162f medium candy apple red - reddish
    247ba0 CG Blue - off blue
-->
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Paytone+One&family=Roboto&display=swap" rel="stylesheet">
    <link href = "styles/default.css" rel= "stylesheet" type = "text/css" />
</head>
<body>
    <header>
        <h1>Yeezy v Breezy Art Verks</h1>
        <nav>
            <a href = "index.html">Yeezy</a> x <a href = "art.html">Art</a> x <a href = "inspiration.html">inspiration</a> x <a href = "about.html">About</a>
         </nav>
    </header>