<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title> Yeezy v Breezy Art Verks </title>

    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Paytone+One&family=Roboto&display=swap" rel="stylesheet">
    <link href = "styles/default.css" rel= "stylesheet" type = "text/css" />
</head>
<body>
    <header>
        <h1>&#9887; Yeezy v Breezy Art Verks &#9886;</h1>
        <nav>
            &#9886; <a href = "index.html">Yeezy</a> 
            &#10059; <a href = "art.html">Art</a> 
            &#10059; <a href = "inspiration.html">Inspiration</a> 
            &#10059; <a href = "about.html">About</a> &#9887;
         </nav>
    </header>