

body
{
    color: #d7bea8;
    background-color: #542344;
    font-family: Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 150%;
  /* https://coolors.co/542344-c78283-50808e-d7bea8-fdf7fa */
}

header
{
    text-align: center;
    font-family: 'Merienda One', cursive;
    padding-bottom: 0px;
}

main
{
   
}

footer
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
}

h1, h2, h3
{
    text-align: center;
}

h6
{
    text-align: center;
    font-size: 800%;
    border: 10px double dashed red;
}

a
{
    color: #db162f;
}

a:hover
{
    color: orange;
    text-decoration: underline;
}


/* https://coolors.co/454ade-29335c-605f5e-db162f-247ba0

    454ade Iris - purple bluish
    29335c Space Cadet - dark blue
    605f5e Granite Grey - grey
    db162f medium candy apple red - reddish
    247ba0 CG Blue - off blue
*/