body
{
    color: #29335c;
    background-color: #605f5e;
    font-family: 'Paytone One', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 200%;
}

header
{
    text-align: center;
    font-family: 'Merienda One', cursive;
    background-color: #454ade;
    padding: 33px;
}

main
{
    
}

footer
{
    text-align: center;
    background-color: #454ade;
    font-family: 'Roboto', sans-serif;
    padding: 33px;
}

h1, h2, h3
{
    text-align: center;
}

h6
{
    text-align: center;
    font-size: 800%;
    color: orange;
    border 10px double dashed red;
}

a
{
    color: orange;
}