body
{
    color: #29335c;
    background-color: #605f5e;
    font-family: 'Paytone One', sans-serif;


    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

header
{
    text-align: center;
    font-family: 'Merienda One', cursive;
    background-color: #454ade;
}

main
{
    
}

footer
{
    text-align: center;
    background-color: #454ade;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3
{
    text-align: center;
}

h6
{
    font-size: 400%;
    color: orange;
}

a
{
    color: orange;
}